.section{
    padding: 100px 5%;
    width: 100%;
    background-color: var(--white);

    .areaTitle{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 40px;

        .icon{
            font-size: 100px;
            color: var(--gray);
        }

        .title{
            font-size: 40px;
            font-weight: bold;
            color: var(--black);
            transform: translateX(-50px);
        }
    }

    .paragraph{
        color: var(--black);
        opacity: .8;
        width: 100%;
        max-width: 700px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .link{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .text{
            font-weight: bold;
        }

        .areaIcon{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            margin-left: 10px;
        }
    }
}